<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Our flats", flats_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
<br>

<h2>Edit this flat</h2>
<br>
<div class="form">
  <%=  simple_form_for @flat do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :price_per_night %>
  <%= f.input :number_of_guests %>
  <%= f.submit 'Add flat', class: "btn btn-success" %>
  <% end %>
</div>
